.wrapper {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  box-sizing: border-box;
  font-family: Arial;
  .seminarList {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    .photo {
      height: 250px;
      max-width: 250px;
      margin-bottom: 10px;
    }
    button {
      cursor: pointer;
    }
    .buttonBlock {
      button {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        transition: 0.3s ease;
      }

      button.edit {
        background-color: #4caf50;
        color: white;
      }

      button.edit:hover {
        background-color: #45a049;
      }

      button.delete {
        background-color: #d9534f;
        color: white;
      }

      button.delete:hover {
        background-color: #c9302c;
      }
    }
  }
}
